- 조건 우선순위
 - NOT > AND > OR

In [3]:
a,b,c = 10, 8, 11

if a == 9 or b == 8 and c ==10:
    print("True")
else:
    print("False")

False

In [4]:
if a == 9 and b == 8 or c ==11:
    print("True")
else:
    print("False")

True

#### if의 조건이 False로 간주되는 값
 - None
 - 0 
 - 0.0
 - ''
 - []
 - ()
 - {}
 - set()

In [5]:
if 3:
    print('555')

555

#### 중첩 조건문 (nested condition)
 - 조건문의 경우 중첩하여 작성 가능
 - depth 의 제한은 없음

In [7]:
a,b,c = 10,9,8

if a==10:
    if c==8:
        if b==8:
            print('Yaho')
        else:
            print('No~ No~')

No~ No~

#### while 키워드 이용하여 리스트 출력하기

In [9]:
a = [5,7,8,3,5,1,7,45,15,35,48,358]

# 무한루프
# i = 0 
# while i < len(a):
#    print(a[i])

IndentationError: unexpected indent (<ipython-input-9-6698d01e0365>, line 6)

In [12]:
i = 0
while i < len(a):
    print('value: ' ,a[i], 'index: ', i)
    i += 1

value:  5 index:  0
value:  7 index:  1
value:  8 index:  2
value:  3 index:  3
value:  5 index:  4
value:  1 index:  5
value:  7 index:  6
value:  45 index:  7
value:  15 index:  8
value:  35 index:  9
value:  48 index:  10
value:  358 index:  11

In [15]:
# 리스트 값이 20보다 크면 출력
i = 0
a = [5,7,8,3,5,1,7,45,15,35,48,358]
while i < len(a):
    if a[i]> 20:
        print('value:',a[i],'index:', i)
    i+=1

value: 45 index: 7
value: 35 index: 9
value: 48 index: 10
value: 358 index: 11

In [21]:
# 홀수인 경우만 출력
i = 0
a = [5,7,8,3,5,1,7,45,15,35,48,358]
while i < len(a):
    if a[i]%2 == 1:
        print('value:',a[i],'index:', i)
    i+=1

value: 5 index: 0
value: 7 index: 1
value: 3 index: 3
value: 5 index: 4
value: 1 index: 5
value: 7 index: 6
value: 45 index: 7
value: 15 index: 8
value: 35 index: 9

####  break
- loop를 중단할때 사용
- 보통 조건문 안에서 수행되며, 조건을 만족하는 경우 loop를 탈출하기 위해 사용

In [24]:
i = 0
a = [5,7,8,3,5,1,7,45,15,35,48,358]
while i < len(a):
    print('value:',a[i],'index:', i)
    if a[i] > 40:
        break
    i+=1
    
print(i)

value: 5 index: 0
value: 7 index: 1
value: 8 index: 2
value: 3 index: 3
value: 5 index: 4
value: 1 index: 5
value: 7 index: 6
value: 45 index: 7
7

In [25]:
i = 0
a = [5,7,8,3,5,1,7,45,15,35,48,358]
while i < len(a):
    print('value:',a[i],'index:', i)
    i+=1
    if a[i] > 40:
        break

    
print(i)

value: 5 index: 0
value: 7 index: 1
value: 8 index: 2
value: 3 index: 3
value: 5 index: 4
value: 1 index: 5
value: 7 index: 6
7

In [27]:
i = 0
a = [5,7,8,3,5,1,7,45,15,35,48,358]
while i < len(a):
    if a[i] > 40:
        break
    print('value:',a[i],'index:', i)
    i+=1

    
print(i)

value: 5 index: 0
value: 7 index: 1
value: 8 index: 2
value: 3 index: 3
value: 5 index: 4
value: 1 index: 5
value: 7 index: 6
7

#### continue
- break처럼 반복을 중단하여 빠져나오지 않고, 다시 while 조건으로 점프
- 특정한 경우에는 코드를 수행하지 않고 다음으로 건너 뛰기 위해 사용

In [29]:
a = 7
while a>0:
    a -=1
    if a ==4:
        break
    print(a)

6
5

In [31]:
a = 7
while a>0:
    a -=1
    if a ==4:
        continue
    print(a)

6
5
3
2
1
0

#### 1 부터 100까지 더하기

In [32]:
a = 0
sum = 0
while a <=100:
    sum += a
    a+=1

In [33]:
print(sum)

5050

####  for 반복문

In [34]:
a = [1,2,3,4,5]
for i in a:
    print(i, i*2)

1 2
2 4
3 6
4 8
5 10

####  문자열 출력하기

In [36]:
a = 'asdfasdfawefaf'
for i in a:
    print(i)

a
s
d
f
a
s
d
f
a
w
e
f
a
f

In [37]:
for a in '123123123':
    print(a)

1
2
3
1
2
3
1
2
3

####  dict의 아이템 출력하기

In [45]:
a = {'korea':'seoul','japan':'tokyo','canada':'ottawa'}
for i in a:
    print(i)

korea
japan
canada

In [39]:
for i in a:
    print(a[i])

seoul
tokyo
ottawa

In [47]:
for a,b in a.items():
    print('나라이름:',a,' 수도명: ',b)

나라이름: korea  수도명:  seoul
나라이름: japan  수도명:  tokyo
나라이름: canada  수도명:  ottawa

####  for 에서 index 사용하기
- 기본적으로 for에 리스트를 순회하는 경우, 값만 추출
- 아래와 같은 코드로 인덱스와 값 모두 사용 가능(enumerate함수 사용)

In [48]:
a = [1,2,3,4,5]
for i,j in enumerate(a):
    print (i,j)

0 1
1 2
2 3
3 4
4 5

####  break
- for 의 경우에도 특정 조건일 때, loop 종료 가능

#### 구구단 출력하기 (1-9단)

In [55]:
for j in range(1,10):
    for i in range(1,10):
        print(i,'x' ,j, '=' , i*j)

1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81

####  range 이용하여 리스트 생성하기

In [59]:
# 1~100 리스트 생성하기
a = range(1,100)
print(a[50])

51

####  if & for 연습문제
 1. 구구단 2-9단까지 출력하시오
 2. 1-100 까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.
 3. a = [22,1,3,4,7,98,55,86,22,66,34] 에서 최대값과 최소값을 찾으시오.
 4. 리스트 a 의 평균을 구하시오.

In [61]:
# 1번문제
for i in range(2,10):
    for j in range(2,10):
        print (i,'x',j,'=',i*j)

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [63]:
# 2번
a = []
for i in range(1,101):
    if i%2 == 0 or i%11 == 0:
        a.append(i)
        
print(a)

[2, 4, 6, 8, 10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 33, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 77, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 99, 100]

In [66]:
# 3번 문제

a = [22,1,3,4,7,98,55,86,22,66,34]
max = a[0]
min = a[0]
for i in a:
    if i > max:
        max = i
    if i < min:
        min = i

print(max)
print(min)

98
1

In [65]:
# 4번 문제

a = [22,1,3,4,7,98,55,86,22,66,34]
sum = 0
for i in a:
    sum += i

print(sum/len(a))

36.18181818181818