> 변수 (Variable) 이해하기

- 데이터를 저장하는 공간
- 저장관간에 값을 생성하고 이름을 지정

### = 대입 연산자, == 비교 연산자

In [7]:
a =10
b= 5

 ###  comment(주석) 
 
  - \# 뒤에 부연 설명 달기

In [2]:
# python start

### print 함수

- 해당 변수의 값을 출력
- print 함수 설정
 - sep: 구분자, 각 출력할 변수 사잉에ㅓㅅ 구별하는 역할
 - end: 마지막에 출력할 문자열

In [3]:
print (a)

10

In [5]:
# Shift + TAb 을 이용해서 함수 설명을 볼 수 있음
print()

In [8]:
print(a, b, 10, 100, sep='*', end= '!!')

10*5*10*100!!

프린트 함수는 텍스트로 출력 하고 그냥 변수명만 적으면 ouptut 으로 나온다

### variable 명명 규칙
 - 숫자로 시작하면 안됌
 - 예약어(python에서 선점한 용어) 사용 안됨 / 노트북에 초록색 글씨로 뜬다
 - 변수의 특징을 잘 설명할 수 있는 단어를 사용

###  None
 - 아무런 값을 갖지 않을 때 사용
 - 변수는 생성했는데, 아직 뭘 넣을지 모를때 사용하기

###  변수 값 비교하기

In [10]:
a=5
b=4

print(a<b)
print(a>b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

c = a>b
c
type(c)

False
True
True
False
False
True

bool

In [11]:
print( a +b)
print(a*b)
print(a-b)
print(a/b)
print(a%b)
print(a**b)

9
20
1
1.25
1
625

- **연습문제** 다음의 a값을 출력 했을 때 결과는?

In [12]:
a = 9
print(a)
print(a-3)
print(a)

9
6
9

### 문자열 (String)

1. 따옴표 사용하여 생성
- 따옴표 별 차이점
 - '',"" -> 문자열을 한줄에 표현
 - ''' ''' -> 여러줄에 걸쳐 문자열 표현 가능

In [16]:
a = 'Hello world' # 문자열에 " 사용하고 싶을떄 사용 가능
b = "Hello world" # 문자열에 ' 사용하고 실을떄 사용 가능
print(a,b)

Hello world Hello world

In [17]:
c = '''Hello 


world'''
d = """Hello 


world"""
print(c)
print(d)

Hello


world
Hello


world

### escape string (이스케이프 문자)
 - 문자열 내의 일부 문자의 의미를 달리하여 ```특정한 효과```를 주는것
 - ```\n```: new line ```\t```: tab등

In [20]:
print('Hello world \n\n')
print('ha \t \t haha')

Hello world


ha 	 	 haha

###  Indexing & slicing string (문자열 인덱스 및 추출)
- **인덱스**: 각 문자열의 순서
- 첫번째 문자는 0번째 문자임
- 범위를 넘어갈 경우 에러 발생

In [21]:
a = 'Song Yeong Nam' 
print(a[5])

Y

###  '-' 인덱스

In [24]:
print(a[-5])
print(a[-3])

g
N

- **슬라이싱**: 문자열을 지정 범위에서 잘라서 가져옴
- 마지막 숫자는 포함하지 않음

In [25]:
print(a[4:9])

 Yeon

### 문자열 함수

In [26]:
a.upper()

'SONG YEONG NAM'

replace 함수
- 문자열 내의 특정 문자를 치환

In [27]:
a.replace('o', 'a')

'Sang Yeang Nam'

format함수
- 문자열 내의 특정한 값을 변수로 부터 초기화하여 동적으로 문자열 생성

In [28]:
temp = 26
prob = 80

a = '오늘 기온 {}이고, 비올 확률은 {}% 입니다'.format(temp, prob)
print(a)

오늘 기온 26이고, 비올 확률은 80% 입니다

split 
- 문자열을 특정한 문자 구분하여 문자열의 리스트로 치환

In [31]:
a.split()

['오늘', '기온', '26이고,', '비올', '확률은', '80%', '입니다']

###  리스트 & 튜플
 - 복수개의 값을 담을 수 있는 데이터 구조
 - list - mutable (생성된 후에 변경 가능
 - tuple - immutable

####  리스트 초기화
- []안에 값을 담아서 생성
- list()함수로 생성
- str.split() 함수로 생성

In [33]:
a = []
print(a)
a

[]

[]

In [35]:
a = [1,44,5,6,6,7]

In [37]:
a = 'Hello world'
b = list(a)
# 공백도 하나의 문자로 취급
print(b)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [41]:
a = 'hello world nice weather'
# 뭘로 구분할지 지정가능함
b = a.split('\t')
print(b)

['hello world nice weather']

####  리스트 indexing
 - 문자열의 인덱싱과 동일하게 동작

In [43]:
# 튜플은 불변 (immutable)
a = 'hello world'
print(a[0])

# 불변이기 때문에 불가능
# a[0] = j

b = 'j' + a[1:]

c = a.replace('h','j')
print(b)
print(c)

h
jello world
jello world

In [45]:
# 리스트는 변경가능 (mutable)

a = [1,2,3,4,5]
a[0] = 100
print(a)
a[-1] = 50
print(a)

[100, 2, 3, 4, 5]
[100, 2, 3, 4, 50]

####  리스트 Slicing

In [52]:
a = [1,2,3,4,5,6,7,8]
print(a[4:7])
print(a[:7])

# slicing
# start:end:increment

print(a[1:7:2])
print(a[1:7:-2])
print(a[0:7:-2])
print(a[0:7:-3])

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[2, 4, 6]
[]
[]
[]

In [65]:
a = [1,2,3,4,5,6,7,8]
print(a[::-2])
print(a[6:0:-2])
print(a[-2:-7:-2])

[8, 6, 4, 2]
[7, 5, 3]
[7, 5, 3]

####  리스트 멤버 함수

- 생성된 리스트 객체에 동작하는 함수
- 향후, 클래스와 멤버 함수 개념을 이해

- append()
 - 리스트의 끝에 항목을 추가함

- extend()
 - 리스트를 연장
 - += 로도 가능함

In [60]:
a = [1,2,3]
b = [4,5,6]

a.append(b)
print(a)
print(type(a))
# print(a.extend(b)) 는 오류 남.
a.extend(b)
print(a)

[1, 2, 3, [4, 5, 6]]
<class 'list'>
[1, 2, 3, [4, 5, 6], 4, 5, 6]

- insert()로 항목추가
 - 리스트의 원하는 위치에 추가 가능
 - 앞에 인덱스, 뒤에 아이템을 명시

- remove()
 - 값으로 항목 삭제

In [66]:
a = [1,2,3,3,4,5]
a.remove(3)

print(a)

[1, 2, 3, 4, 5]

- pop()
 - 지우고자 하는 아이템을 반환 후, 삭제

In [68]:
a = [1,2,3,4,5]
# 제거의 역할을 하지만 튀어나오게 해서 담는 역할도 함
b = a.pop(2)

print(a)
print(b)

[1, 2, 4, 5]
3

- index()
 - 찾고자 하는 값의 인덱스 반환

- in 키워드
 - 리스트 내에 해당 값이 존재하는지 확인
 - value in [list]
 - True, False 중 한가지로 반환

In [69]:
a = [1,2,3,4,5]
b = 10

c = b in a

print(c)

False

- list 정렬
 - sort() : 리스트 자체를 내부적으로 정렬
 - sorted(): 리스트의 정렬된 복사본을 반환

In [87]:
a = [6,2,4,7,9,13,5,6,8,1,2,5,10,2,23,25]

# 반환값이 없어서 변수로 지정 불가능
a.sort()
print(a)
a.sort(reverse=True)
print(a)

# sorted 복사본을 반환하므로 변수로 지정 가능
b1 = sorted(a)
b2 = sorted(a, reverse=True)
print(b1)
print(b2)

[1, 2, 2, 2, 4, 5, 5, 6, 6, 7, 8, 9, 10, 13, 23, 25]
[25, 23, 13, 10, 9, 8, 7, 6, 6, 5, 5, 4, 2, 2, 2, 1]
[1, 2, 2, 2, 4, 5, 5, 6, 6, 7, 8, 9, 10, 13, 23, 25]
[25, 23, 13, 10, 9, 8, 7, 6, 6, 5, 5, 4, 2, 2, 2, 1]

### tuple
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
 - immutable

In [88]:
a = [1,2,3]
a = (1,2,3)

print(type(a))
print(type(b))

a[0] = 100
print(a)

<class 'tuple'>
<class 'int'>

TypeError: 'tuple' object does not support item assignment

tuple unpacking

In [89]:
a,b,c,d = 100,200,300,4
print(c)

300

- **연습문제** a와 b 값을 교환하시오.

In [90]:
a = 10
b = 5

a,b = b,a
print(a)
print(b)

5
10

In [91]:
a = 10
b = 5
c = ()

c = a
a = b
b = c

print(a)
print(b)

5
10

### dictionary

 - 키와 값을 갖는 데이터 구조
 - 키는 내부적으로 hash 값으로 저장
 - 순서를 따지지 않음

In [92]:
a = [0,1,2,3,4,5,6,7,8,100,200,300]

In [104]:
a = {'Korea':'Seoul',
     'Canada':'Ottawa',
     'USA':'Washingtaon D.C'}

# dict 는 hash 값으로 위치를 저장하기 때문에
# 중복된 key값을 가지지 않음
b={0:1,5:2,5:3,5:4,6:2}

In [105]:
print(a['Korea'])
print(b[5])
print(b)

Seoul
4
{0: 1, 5: 4, 6: 2}

- 항목 추가 및 변경
 - 기존에 키가 존재 하면, 새로운 값으로 업데이트

In [106]:
a['Japan'] = 'Tokyo'
print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washingtaon D.C', 'Japan': 'Tokyo'}

- update()
 - 두 딕셔너리를 병합함
 - 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다.

In [113]:
# 작은 따옴표, 큰 따옴표 혼용가능
a = {'a':1,'b':2,'c':3}
b = {'a':1,'d':4,"e":5}

a.update(b)
print(a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

- key 삭제
 - del 키워드 사용
 - pop 함수 사용

In [117]:
a = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
print(a)
# b 라는 key를 가지는 value 값을 가져옴
b1 = a.pop('b')
print(a)
print(b1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
{'a': 1, 'c': 3, 'd': 4, 'e': 5}
2

In [121]:
a = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
print(a)
del a['b']
print(a)
del a['c'], a['d']
print(a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
{'a': 1, 'c': 3, 'd': 4, 'e': 5}
{'a': 1, 'e': 5}

- in
 - key 값 존재 확인
 - O(1) 연산 - dict의 크기와 관계없이 연산의 속도가 일정함

In [124]:
a = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
b = [1,2,3,4,5,6,7,8,9,100,1,3,4,5]

print(100 in b)
print('b' in a)
print(2 in a)

True
True
False

- value access
 - dict[key]로 접근, 키가 없는 경우 에러 발생
 - .get() 함수로 접근, 키가 없는 경우 None 반환

In [126]:
a = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
print(a.get('f'))
print(a['f'])

None

KeyError: 'f'

#### 모든 keys, values 접근
 - keys(): 키 값만 반환
 - values(): 값만 반환
 - items(): 키, 값의 튜플을 반환

In [130]:
a = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

print(a)
print(a.keys())
print(list(a.keys()))
print(a.values())
print(list(a.values()))
print(a.items())
print(list(a.items()))

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
dict_keys(['a', 'b', 'c', 'd', 'e'])
['a', 'b', 'c', 'd', 'e']
dict_values([1, 2, 3, 4, 5])
[1, 2, 3, 4, 5]
dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])
[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

###  set
 - dict 에서 key 만 활용하는 데이터 구조로 이해
 - 수학에서 집합과 동일한 개념

In [132]:
a = {1,1,3,2,2,4,4,5}
print(a)
print(a[0])

{1, 2, 3, 4, 5}

TypeError: 'set' object is not subscriptable

- set()을 통해 집합으로 변환

In [133]:
a = [1,1,3,2,2,4,4,5]
print(a)

b = set(a)
print(b)

[1, 1, 3, 2, 2, 4, 4, 5]
{1, 2, 3, 4, 5}

In [135]:
# dict 생성 vs set 생성
a= {}
b= set()
print(type(a))
print(type(b))

<class 'dict'>
<class 'set'>

In [142]:
a = {1,2,3}
b = {2,3,4}
c = set({1,2})

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.issubset(b))
print(c.issubset(a))

{1, 2, 3, 4}
{2, 3}
{1}
False
True