### 1. 조건문 (if) 

문제 1) 입력 받은 정수가 짝수인지 홀수인지 판별

In [3]:
num = int(input("Enter a number: "))
if num%2==1:
    print("{} is Odd number".format(num))
else:
    print("{} is Even number".format(num))

Enter a number: 5
5 is Odd number

문제 2) 프로그래밍 과목의 중간고사와 기말고사 점수를 입
력 받아 평균과 학점을 구하는 프로그램을 작성하시오.

In [5]:
mid = int(input("Enter your midterm score: "))
final = int(input("Enter your final score: "))
mean = (mid+final)/2

print("Average: {}".format(mean))

if mean >=90:
    print("Grade: A")
elif mean >=80:
    print("Grade: B")
elif mean >=70:
    print("Grade: C")
elif mean >=60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your midterm score:50
Enter your final score:50
Average: 50.0
Grade: F

문제 3)  학생수준평가 시험에서 영어 점수와 수학 점수가 합해서
110점 이상이면 합격이다. 단, 각 점수가 40점 미만이면
불합격이다. 영어(eng), 수학(math)점수를 입력 받아 합
격여부를 출력하는 프로그램을 작성하시오.
출력예시는 실습 PPT를 참고하시오.

In [120]:
    eng = int(input("영어 점수 입력 "))
    math = int(input("수학 점수 입력 "))

    if (eng+math)>=110:
        if eng< 40:
            print("불합격: 영어 점수 부족")
        elif math<40:
            print("불합격: 수학 점수 부족")
        else:
            print("합격")
    else:
        print("불합격: 총합 점수 부족")

영어 점수 입력 100
수학 점수 입력 50
합격

문제 4) 세 개의 정수를 입력 받아, 가장 큰 수만을 출력하는 프로그램을 작성하시오. (max 사용 금지)

In [131]:
num_list = input("세 개의 수를 입력하시오.").split()
a,b,c= list(map(int, num_list))
max = 0

if a>b and a>c:
    max = a
elif b>a :
    max = b
else:
    max = c
    
print("가장 큰 수는 {}입니다.".format(max))

세 개의 수를 입력하시오.30 50 22
가장 큰 수는 50입니다.

## 2. 반복문

문제 1) 문자열이 주어질 때, 아래와 같이 출력되도록 작성하시오.

(1) while 문을 이용하여 작성

In [29]:
word = "Python"
length = len(word)
i = 0

while (i<length):
    print(word[i])
    i += 1

P
y
t
h
o
n

(2) for 문을 이용하여 작성

In [31]:
for i in "python":
    print(i)

p
y
t
h
o
n

문제 2) 아래와 같이 출력되는 프로그램을 작성하시오.

10, 9, 8, 7, 6, 5, 4, 3, 2, 1, Happy new Year!

In [107]:
for i in range(10,0,-1):
    print(i,end=",")

print("Happy new year!!")

10,9,8,7,6,5,4,3,2,1,Happy new year!!

문제 3) 양의 두 정수 a,b 를 입력받아, a부터 b까지의 정수의 합을 구하여 출력하는 프로그램을 작성하시오. 단, a<=b를 만족하는 값만 고려한다.

In [36]:
nums = input("Enter tow integers: ").split()
a,b= list(map(int, nums))
total = 0

for i in range (a,b+1):
    total += i
    
print("The sum from {} to {} is {}".format(a,b,total))

Enter tow integers: 5 10
The sum from 5 to 10 is 45

문제4)주어진 문자열에 문자a가 몇 개 있는지 구하는 프
로그램을 작성하시오.

In [38]:
word ='banana'
wo = 0
for i in word:
    if i == 'a':
        wo += 1
    else:
        continue

print(wo)

3

문제5) for 문과 range()함수를 이용하여 다음과 같이 출력되도록 작성하시오

In [105]:
num_list = list(range(10))

for i in range(10):
    print(i,end=" ")
print()
for j in range(10):
    print(j*5, end=" ")
print()
for k in range(10,0,-1):
    print(k, end=" ")

0 1 2 3 4 5 6 7 8 9
0 5 10 15 20 25 30 35 40 45
10 9 8 7 6 5 4 3 2 1

문제 6) for 문을 사용하여 리스트의 모든 내용을 출력하시오.

In [57]:
colors = ["red","green","red"]
for i in colors:
    print(i)

red
green
red

문제 7) 리스트 a 전체를 반복해서 방문하되, 짝수만 출력하시오.(for 문 사용)

In [58]:
a = [1,3,4,5,6,7,8,9,10,11,12,13]

for i in a:
    if i%2 == 0:
        print(i,end=" ")
    else:
        continue

4 6 8 10 12

문제8) 구구단 출력1

In [60]:
dan = int(input("출력하고 싶은 단을 입력하세요: "))
for i in range(1,10):
    print("%d * %d = %2d" %(dan, i, dan*i))

출력하고 싶은 단을 입력하세요: 5
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

문제 9) 구구단 출력 2

In [66]:
for j in range(2,10):
    print("== %d단 ==" %j)
    for i in range(1,10):
        print("%d * %d = %2d" %(j, i, j*i))

== 2단 ==
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
== 3단 ==
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
== 4단 ==
4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
== 5단 ==
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
== 6단 ==
6 * 1 =  6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
== 7단 ==
7 * 1 =  7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
== 8단 ==
8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 9단 ==
9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

문제 10) 구구단 출력 2

In [72]:
for j in range(1,10):
    for i in range(2,10):
        print("%d * %d = %2d" %(i, j, j*i), end=" ")
    print()

2 * 1 =  2 3 * 1 =  3 4 * 1 =  4 5 * 1 =  5 6 * 1 =  6 7 * 1 =  7 8 * 1 =  8 9 * 1 =  9
2 * 2 =  4 3 * 2 =  6 4 * 2 =  8 5 * 2 = 10 6 * 2 = 12 7 * 2 = 14 8 * 2 = 16 9 * 2 = 18
2 * 3 =  6 3 * 3 =  9 4 * 3 = 12 5 * 3 = 15 6 * 3 = 18 7 * 3 = 21 8 * 3 = 24 9 * 3 = 27
2 * 4 =  8 3 * 4 = 12 4 * 4 = 16 5 * 4 = 20 6 * 4 = 24 7 * 4 = 28 8 * 4 = 32 9 * 4 = 36
2 * 5 = 10 3 * 5 = 15 4 * 5 = 20 5 * 5 = 25 6 * 5 = 30 7 * 5 = 35 8 * 5 = 40 9 * 5 = 45
2 * 6 = 12 3 * 6 = 18 4 * 6 = 24 5 * 6 = 30 6 * 6 = 36 7 * 6 = 42 8 * 6 = 48 9 * 6 = 54
2 * 7 = 14 3 * 7 = 21 4 * 7 = 28 5 * 7 = 35 6 * 7 = 42 7 * 7 = 49 8 * 7 = 56 9 * 7 = 63
2 * 8 = 16 3 * 8 = 24 4 * 8 = 32 5 * 8 = 40 6 * 8 = 48 7 * 8 = 56 8 * 8 = 64 9 * 8 = 72
2 * 9 = 18 3 * 9 = 27 4 * 9 = 36 5 * 9 = 45 6 * 9 = 54 7 * 9 = 63 8 * 9 = 72 9 * 9 = 81

문제 11)
★ 출력 프로그램

input an integer: 311

★★★

★

★

In [73]:
chr_list = input("input an integer: ")
for i in chr_list:
    print("★" * int(i))

input an integer: 3515
★★★
★★★★★
★
★★★★★

문제 12) “done“을 입력할 때까지 사용자로부터 숫자를 입력 받아
리스트에 저장하고, “done“을 입력하면, 리스트의 평균,
최대값과 최소값을 출력하는 프로그램을 작성하시오.

In [77]:
data_list = []
while True:
    data = input("Enter a number: ")
    if data == "done":
        break
    elif data.isalpha() :
        print("it's not number. Try again")
    else:
        data_list.append(float(data))
    
print(data_list)
print("Average: %.1f" %(sum(data_list)/len(data_list)))
print("Maximun",max(data_list))
print("Minimum",min(data_list))

Enter a number: 5
Enter a number: 7
Enter a number: 8
Enter a number: 9
Enter a number: done
[5.0, 7.0, 8.0, 9.0]
Average: 7.2
Maximun 9.0
Minimum 5.0

## 리스트 관련 함수 - 추가

map(함수명, 리스트이름) : 리스트 값 하나하나를 함수명에 대입하여 결과를 얻고자 할 때 사용

In [78]:
before = ['2021','08','18']
after = list(map(int,before))
after

[2021, 8, 18]

In [21]:
a = 4
b = 5.2
c = 16

print("%2d" %a)
print("%2d" %c)
print("%03.1f" %b)

 4
16
5.2