## 실습문제 4 풀이

map 함수를 활용하여 한번에 정수형으로 변환

In [3]:
date = input("연/월/일: ")
date_list = date.split('/')

date_list = list(map(int, date_list))

연/월/일: 2/2/2

In [4]:
type(date_list[0])

int

# 조건문 / 반복문

## bool 자료형
 - True와 False의 두 가지 값을 나타내는 자료

In [5]:
result = 3>2
print(result)

True

In [6]:
type(result)

bool

In [7]:
bool(0)

False

In [9]:
bool('adfasf')

True

In [10]:
a= 99

In [11]:
(a>100) and (a<200)

False

#### 논리 연산자

연산의 결과는 항상 참 또는 거짓

In [13]:
# (30<=x) & (70>=x)

In [14]:
# 파이썬은 30 <= x <= 70 으로 써도 상관없음

In [15]:
# a = 200

# if a<100:
#     print("참")
#     print("100보다 작다")

In [16]:
en = int(input("영어 점수 입력: "))
mt = int(input("수학 점수 입력: "))

total = en + mt

KeyboardInterrupt: Interrupted by user

### 조건문 실습 2

map 함수 사용하여 int로 처리하기

#### while 문

In [17]:
number = 1
while number <=5:
    print(number)
    number += 1

1
2
3
4
5

실행결과를 한 줄에 이어서 출력하려면?

In [32]:
number = 1
while number <=5:
    print(number, end= '->')
    number += 1

1->2->3->4->5->

#### while 문 

1 부터 10까지의 합

In [31]:
total = 0
num = 0
while num <= 9:
    num += 1
    total += num
    print(total)

1
3
6
10
15
21
28
36
45
55

## for 문

In [33]:
for x in range(5):
    print("Hello world!")

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

In [34]:
for x in [1,5,36,4]:
    print(x)

1
5
36
4

### range() 함수

range(start, stop, step)

### break

반복문 순회 도중 break 문을 만나면 내부 블록 벗어남

### continue

반복문 순회 도중 continue 문을 만나면 그 아래의 문장은 해당 반복에 한해서 건너뛴다.

In [41]:
for j in range(1,5):
    for i in range(1,11):
        if i > 5:
            break
        print(i)

1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5

In [39]:
for i in range(1,11):
    if i%2 == 0: continue
    print(i)

1
3
5
7
9

### 리스트 관련 함수

In [44]:
# 생성

colors = list()

In [50]:
# 리스트 이름.append(x)

colors.append("red")
colors.append("yellow")
colors.append("green")
colors.append("blue")

In [51]:
colors

['yellow', 'green', 'blue', 'red', 'yellow', 'green', 'blue']

In [54]:
# 리스트 항목 삭제
# 항목 삭제시 에러나면 "in" 키워드 사용하기

colors.remove("red")

ValueError: list.remove(x): x not in list

In [53]:
colors

['yellow', 'green', 'blue', 'yellow', 'green', 'blue']

In [55]:
if "orange" in colors:
    colors.remove("red")
else:
    print("없다")

없다

### 리스트 정렬

리스트이름.sort(): 리스트의 항목을 오름차순으로 정렬 / 리턴값이 없음

sorted(리스트이름): 리턴값이 있음.

리스트이름.reverse(): 리스트 항목을 뒤집어줌

In [56]:
a = [1,5,6,8,4,2]

sorted(a)

[1, 2, 4, 5, 6, 8]

In [57]:
a

[1, 5, 6, 8, 4, 2]

In [58]:
a.sort()

In [59]:
a

[1, 2, 4, 5, 6, 8]

In [60]:
a1 = a.sort()

In [61]:
print(a1)

None

In [64]:
num_list = list(range(1,11))

In [65]:
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
max(num_list)

10

In [67]:
min(num_list)

1

In [68]:
len(num_list)

10

In [74]:
del sum

sum(num_list)

55

In [72]:
sum = 10
sum(num_list)

TypeError: 'int' object is not callable

### 리스트 실습1

"done"을 입력할 때까지 사용자로부터 숫자를 입력 받아 리스트에 저장하고, "done"을 입력하면, 

리스트의 평균, 최대값, 최소값을 출력하는 프로그램을 작성하시오. (sum / max / min 사용)

In [96]:
data_list = []
while True:
    data = input("Enter a number: ")
    if data == "done":
        break
    elif data.isalpha() :
        print("it's not number. Try again")
    else:
        data_list.append(float(data))
    
print(data_list)
print(max(data_list))
print(min(data_list))
print("%.1f" %(sum(data_list)/len(data_list)))

Enter a number: 5
Enter a number: 7
Enter a number: 8
Enter a number: d
it's not number. Try again
Enter a number: done
[5.0, 7.0, 8.0]
8.0
5.0
6.7

### 실습 2: ★ 출력하기

1) Nested loop 로도 처리해보기

2) 몫을 이용해서 해보기

input an integer: 311

★★★

★

★

In [97]:
chr_list = input("input an integer: ")
for i in chr_list:
    print("★" * int(i))

input an integer: 948421357
★★★★★★★★★
★★★★
★★★★★★★★
★★★★
★★
★
★★★
★★★★★
★★★★★★★

In [91]:
a = 1
"A".isalpha()

True

### 튜플, 집합, 딕셔너리

In [99]:
# 튜플
# 중요한 자료는 튜플로 묶어놓으면 좋음
# 리스트와 유사하지만 값을 수정할 수 없으며, 읽기만 가능

# 튜플은 ( ) 로 생성

In [100]:
t = (1,2,3,4)

In [101]:
t

(1, 2, 3, 4)

In [102]:
t = ()

In [103]:
a,b,c = 1,2,3

In [104]:
a1,b1,c1 = [1,2,3]

In [106]:
t = 1,2,3

In [107]:
t

(1, 2, 3)

In [108]:
t = (1,2,3,4,5)
t[0]
t[:3]

(1, 2, 3)

In [109]:
t[0]=8

TypeError: 'tuple' object does not support item assignment

In [110]:
t + t

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### 집합

합집합, 교집합, 차집합 문제 나온다.

순서 없이 항목을 저장, 항목이 중복 될 수 없음

자료형의 중복을 없애기 위한 방법으로 사용됨

set은 숫자는 정렬해주지만 문자는 정렬해주지 않음

In [112]:
t = ("Hello")

In [113]:
set(t)

{'H', 'e', 'l', 'o'}

In [114]:
t = (5,5,5,1,1,2,2,1,1,5,5)
set(t)

{1, 2, 5}

In [115]:
s = {1,2,3,4,5,2,1}

s

{1, 2, 3, 4, 5}

In [116]:
s.add(10)

### 딕셔너리

중괄호 { } 로 묶여 있으며, key와 value의 쌍으로 이루어짐

d = {key1:value1, key2:value2}

- key로 value를 관리 (key는 중복될 수 없음)

- 항목들 사이에 순서가 없음

In [117]:
d = {}
d['kim'] =1
d['song'] =3

In [119]:
d['kim'] =10

In [121]:
d['윤']= 5

In [123]:
d

{'kim': 10, 'song': 3, '윤': 5}

In [124]:
ㅇ = {}

In [125]:
ㅇ

{}

In [126]:
d.items()

dict_items([('kim', 10), ('song', 3), ('윤', 5)])

In [127]:
d in song

NameError: name 'song' is not defined

In [129]:
"song" in d

True

동적 타이핑 : 런타임에 구문을 통해 Data Type을 설정

In [130]:
a= 1; id(a)

94733048708416

immutable vs mutable (변할 수 있는 vs 변할 수 없는)