## 자연어
 - 의사소통을 위한 수단으로 자연 발생한 언어

## 인공어
 - 사람의 의도나 목적에 따라 만든 언어

### 자연어 - 한국어

 - 한국어의 구성요소
  - 자음,모음 < 음절 < 형태소 < 어절 < 구 < 절 < 문장 < 문단
  
 - 형태소는 최소한의 의미를  지니는 단위
 
 - 좀 더 복잡한 의미를 표현하기 위해
 
 - 약 50만개 정도의 형태소가 필요함

### 인공어 - Python

- 파이썬에서 의미를 지니는 최소단위는 "단어"

- 좀 더 복잡한 의미를 표현하기 위해 문법이 필요함

- python에서는 35개의 Keywords, 69개의 Built-in Functions, 자료형이 가지는 어트리뷰트들, 연산자가 전부

In [6]:
a  = [1,1,2,2,3]

def length(list):
    b=0
    for i in list:
        b+=1
    return b

In [8]:
length("wiehfiawehf")

11

In [12]:
print(print(print(print)))

<built-in function print>
None
None

In [1]:
a = 1
b = 2

def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b

In [3]:
c = add(1,2)
d = sub(1,2)
e = mul(1,2)
f = div(1,2)

In [4]:
print(c, d, e, f)

3 -1 2 0.5

지도학습
/페이스 아이디
/아스키코드
/객체지향
/뮤터블
/쉘로우 카피
/ADT
/콜 바이 벨류
/인스턴스
/클래스
/딥 카피
/콜 바이 레퍼런스
/리눅스
/스트럭쳐
/함수
/추상화
/주소
/유닉스
/ 모듈
/ 케라스
/ 링크드 리스트
/ 메써드
/ 변수
/ 인공신경망
/ 캡슐화
/

사람을 입장에서 코딩해보자 해서 시작한게 객체 지향

객체지향의 특징
캡슐화 / 상속 / 다형성

클래스로 생성한 것은 객체 or 인스턴스

초기화가 필요할때는 생성자

인스턴스 변수: 클래스가 가지는 특징이 아닌 인스턴스 별로 필요한 변수

클래스 변수: 클래스 내에서 공통으로 공유할 수 있는 변수

```{python}
## 클래스 생성 예시
class Car:
    color ="" # 인스턴스 변수
    speed = 0 # 인스턴스 변수 
    count = 0 # 클래스 변수
    
    def __init__(self):
        self.speed = 0
        Car.count += 1
```

### 상속

기존 Class의 필드와 메소드를 그대로 물려받는 새로운 Class를 만드는 것.

　

처음부터 설계를 잘해야함,,,;;

In [1]:
import numpy as np

In [4]:
a = np.array(range(1,5))

In [5]:
a

array([1, 2, 3, 4])

In [6]:
b = np.array(range(4,8))

In [7]:
a*b

array([ 4, 10, 18, 28])

In [8]:
a = [1,2,3,4]
b = [4,5,6,7]

In [9]:
a*b

TypeError: can't multiply sequence by non-int of type 'list'

### 지역변수, 전역변수

지역변수: 함수 안에서 만들어져 함수 안에서만 사용하는 변수

전역변수: 함수 밖에서 만들어져 아무데서나 사용할 수 있는 변수 단, 함수 안에서 전역변수 수정 불가

In [17]:
## 지역변수

def add_value(a,b):
    add_res = a+b
    return add_res

x,y = 10,20
res = add_value(x,y)
print(add_res)

NameError: name 'add_res' is not defined

In [18]:
## 전역변수: 함수 밖에서 만들어져 아무데서나 사용할 수 있는 변수 단, 함수 안에서 전역변수 수정 불가

In [22]:
## global variable은 아무데서나 사용 가능.

def addX(_x):
    return y+_x

x=10
y=20

res = addX(y)
print(res)

40

### 파일에서 데이터 읽기

1. 파일을 연다.

2. 파일에서 데이터를 읽거나 쓴다.

3. 파일을 닫는다.

```{python}
f = open("input.txt","r")
...
f.close()
```

In [1]:
# "w" : 쓰기모드 / 

f_w = open("input.txt","w")

for i in range(1,6):
    data = "%d line \n" %i
    f_w.write(data)

f_w.close()

In [39]:
# if, input 이라는 파일이 존재한다면 새로 지워지고 써짐
f_w = open("input.txt","w")

for i in range(1,5):
    data = "%d line\n" %i
    f_w.write(data)

f_w.close()

In [43]:
# "r" : 읽기모드
f_r = open("input.txt","r")

In [41]:
f_r.close()

In [44]:
# 포인터의 위치를 알려줌.
f_r.tell()

0

In [45]:
# 한줄 읽어오기
line = f_r.readline()

In [46]:
line

'1 line\n'

In [49]:
# 여러줄 읽어오기
f_r = open("input.txt","r")

while 1:
    line = f_r.readline()
    if line == "":
        break
    print(line)

1 line


2 line


3 line


4 line

In [70]:
# f.read() 파일 전체를 읽어옴.
# "a" : append 모드

In [67]:
with open("quiz.txt", "r") as f:
    data = f.read()
    data_ls = data.split()
    data_di = {}
    for i in data_ls:
        if i in data_di:
            data_di[i] = data_di[i] + 1
        else:
            data_di[i] = 1

{'first': 1, 'line': 4, 'python': 1, 'is': 1, 'fun': 1, 'second': 1, 'hello': 1, 'world': 1, 'third': 1, 'fourth': 1}

In [ ]:
file = input("give me: ")

## 함수 - 반환값

- 반환 값이 있는 경우

In [83]:
def say1():
    return "hello"

In [84]:
a = say1()

- 반환 값이 없는 경우

In [86]:
def say2():
    print("hello")

In [89]:
# ()는 함수의 내부를 호출
a = say2()

hello

In [88]:
print(a)

None

### 함수 - 매개변수(Parameter)
- 매개변수가 있는 경우

In [91]:
def add1(a,b):
    result = a+b
    return result

In [92]:
def add2():
    return 1+2

In [95]:
a = add1(2,3)
b = add1(4,5)

In [96]:
a

5

In [97]:
b

9

In [98]:
add2()

3

In [99]:
add2

### 가변 매개변수

매개변수 앞에다 \*를 붙이면 된다

ex) \*n

In [100]:
def count_even(*n):
    cnt = 0
    for v in n:
        if v%2 ==0:
            cnt += 1
    return cnt

In [101]:
count_even(1,2,3,4)

2

In [118]:
def add(*nums):
    result = 333
    print(nums)
    return result

In [119]:
add()

()

333

In [120]:
b = add(12431115,12321321,5,5,3)

(12431115, 12321321, 5, 5, 3)

In [122]:
b

333

In [111]:
b2 = (1,2,3)

In [112]:
type(b2)

tuple

In [113]:
b2[1]

2

In [130]:
def addX(_x) :
    x = x + _x # 에러 발생: 함수 내에서 전역변수의 수정이 불가
               # 함수 내에서는 지역변수를 우선시 한다.

y = 20
x = 10
addX(x)
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [131]:
def addX(_x) :
    global x
    x = x + _x 

y = 20
x = 10
addX(x)
print(x)

20

### 디폴트 매개변수

자주 변경되는 파라미터는 디폴트로 지정해준다

앞 매개변수가 default 값을 가지면, 뒤에 오는 매개변수는 반드시 값을 가져야 함.

In [132]:
def printName(first,second="Kim"):
    print('My name is', first, second+'.')

In [134]:
printName('Gildong', 'Hong')
printName('Gildong') # second 변수에 대응되는 값을 주지 않았으므로
                     # 정의할 때 지정한 'Kim'을 가짐

My name is Gildong Hong.
My name is Gildong Kim.

### 키워드 매개변수

함수호출 시, 해당 매개변수 이름을 명시적으로 지정해서 전달

In [136]:
def calc(x, y, z) :
    return x+y+z
result = calc(y=20, x=10, z=30) # 매개변수 순서 상관 없음
print(result)

60

In [137]:
def calc(x, y=0, z=0) :
    return x+y+z
calc(y=20, x=10) # 정상
calc(10, y=30, z=20) # 정상
calc(10, 30, y=20) # 에러 발생

TypeError: calc() got multiple values for argument 'y'

### 반환 값이 여러 개인 함수

튜플이나 리스트를 이용해 여러 개의 값을 반환할 수 있음

In [142]:
# 파이썬은 , 로 연결하면 기본적으로 튜플로 인식함
def add_and_mul(a,b):
    return(a+b, a*b)

add_res, mul_res = add_and_mul(3,4)

In [143]:
add_res

7

In [141]:
mul_res

12

### 매개변수 종류

- Mutable 타입의 매개변수
 - Call by Reference 방식과 동일
 
- 리스트, 딕셔너리, 집합

In [146]:
# Mytable
# 지역변수 / 전역변수 차이를 알고 함수 이해하기
def test(a):
    x = a

x = 10
test(1000)
print(x)

10

In [153]:
def test(a):
    x = a


x = 10
print(x)
print(id(x))
test(1000)
print(id(x))

10
94664142425696
94664142425696

In [156]:
def test(a):
    a[1] = 20
    
t = [1,2,3]

print(t)
print(id(t[0]))
print(id(t[1]))
print(id(t[2]))
print(id(t))
test(t)
print(t)
print(id(t[0]))
print(id(t[1]))
print(id(t[2]))
print(id(t))

[1, 2, 3]
94664142425408
94664142425440
94664142425472
140263838574016
[1, 20, 3]
94664142425408
94664142426016
94664142425472
140263838574016

In [148]:
def test2(a):
    a['b']=3
    
t = {'c':1}

test2(t)
print(t)

{'c': 1, 'b': 3}

- Immutable 타입의 매개변수
 - Call by Value 방식과 동일

In [177]:
def test(a):
    a += (4, 5, 6)
    print(a)
    return a

t = (1, 2, 3)
test(t)
print(t)

(1, 2, 3, 4, 5, 6)
(1, 2, 3)

In [178]:
def test(a):
    a += 1
    
t = 1

test(t)
print(t)

1

In [180]:
def test(a):
    t = a
    print(t)

t = (1, 2, 3)
test(t)
print(t)

(1, 2, 3)
(1, 2, 3)

In [182]:
t[2] = 3

TypeError: 'tuple' object does not support item assignment

#### 실습문제 5

In [186]:
def get_min_max(l):
    min_val = min(l)
    max_val = max(l)
    l.remove(min_val)
    l.remove(max_val)
    return min_val, max_val

In [187]:
l = [3,5,9,1,2]
min_val, max_val = get_min_max(l)
print(min_val)
print(max_val)
print(l)

1
9
[3, 5, 2]

## 외장함수

### 난수 (Random Number) 생성

 - 난수는 random 모듈을 이용하여 생성

In [188]:
import random

- 리스트에서 랜덤하게 선택

In [189]:
random.choice('abcdefg')

'd'

- a 이상 b 이하인 임의의 정수 뽑기 (a,b: int 타입)

In [190]:
random.randint(a,b)

300

In [191]:
random.randrange(a,b+1)

31

### 실습문제 6

로또 추첨 프로그램

 - 1~45 숫자 중 6개를 임의로 선택 후 출력
 - 단, 중복된 번호를 가질 수 없음

In [203]:
print("**로또 추첨을 시작합니다.**")
num_list = sorted(random.sample(range(47),6))
print("추첨된 로또 번호 == >", num_list)

**로또 추첨을 시작합니다.**
추첨된 로또 번호 == > [1, 6, 7, 17, 33, 46]

In [201]:
num_list

[4, 7, 12, 19, 31, 37]

### 실습문제 8

In [297]:
def letter_dict(sen):
    dict_a = {}
    for i in set(sen):
        dict_a[i] = sen.count(i)
        
    return dict_a

def max_letter(dict_a):
    list_a = list(dict_a.items())
    max_val = max(dict_a.values())
    for k, v in list_a:
        if v == max_val:
            max_k = k
            break    
    return max_k
        

a = letter_dict('red apple')
print(a)
print(max_letter(a))

{'r': 1, 'p': 2, 'e': 2, 'l': 1, 'd': 1, 'a': 1, ' ': 1}
p

### 실습문제 9

In [329]:
def comb_dict(dict1,dict2):
    new_dict = {}
    max_dict = {}
    new_dict.update(dict1)
    new_dict.update(dict2)
    
    for k_1,v_1 in dict1.items():
        if k_1 in dict2.keys():
            max_dict[k_1] = v_1 + dict2[k_1]
        else:
            max_dict[k_1] = v_1
    
    new_dict.update(max_dict)  
    
    return new_dict


a = letter_dict('red apple')
b = letter_dict('yellow banana')
c = comb_dict(a,b)
print(c)
print(max_letter(c))

{'r': 1, 'p': 2, 'e': 3, 'l': 3, 'd': 1, 'a': 4, ' ': 2, 'y': 1, 'w': 1, 'o': 1, 'b': 1, 'n': 2}
a

In [324]:
b.items()

dict_items([('y', 1), ('w', 1), ('e', 1), ('l', 2), ('a', 3), ('o', 1), ('b', 1), ('n', 2), (' ', 1)])

In [302]:
b

{'y': 1, 'w': 1, 'e': 1, 'l': 2, 'a': 3, 'o': 1, 'b': 1, 'n': 2, ' ': 1}

In [315]:
c ={}

for k_1,v_1 in a.items():
    for k_2, v_2 in b.items():
        if k_1 == k_2:
#             print(v_1)
#             print(v_2)
            c[k_1] = v_1 + v_2
        else:
            c[k_2] = v_2

2
1
1
2
1
3
1
1

In [326]:
c ={'r':1, 'e':3, 'd':1, ' ':2,
'a':4, 'p':2, 'l':3, 'y':1,
'o':1, 'w':1 , 'b':1, 'n':2}

In [327]:
c.update(b)

In [328]:
c

{'r': 1,
 'e': 1,
 'd': 1,
 ' ': 1,
 'a': 3,
 'p': 2,
 'l': 2,
 'y': 1,
 'o': 1,
 'w': 1,
 'b': 1,
 'n': 2}

In [ ]:
stu_list